/ProfessorService.class
/GradeCardService.class
/SemseterRegistrationService.class
/AdminService.class
/CatalogService.class
/GradeService.class
/PaymentService.class
/UserService.class
/RegisteredCourseService.class
/AdminInterface.class
/CatalogInterface.class
/CourseInterface.class
/CourseService.class
/GradeCardInterface.class
/PaymentInterface.class
/ProfessorInterface.class
/RegisteredCourseInterface.class
/SemesterRegistrationInterface.class
/StudentInterface.class
/StudentService.class
/UserInterface.class
